<div>
    <div>
        <img src="https://cdn-icons-png.flaticon.com/512/931/931949.png" alt="beer">
    </div>
    <div>
        <a href="/beers">Check the beers!</a>
        <a href="/random-beer">Check a random beer</a>
    </div>
</div>